html, body {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
.center {
  position: absolute;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -25px;
}
.wireless-list {
  font-size: 15px;
}
.wireless-list .selected {
  background-color: #cccccc;
  color: #ffffff;
}
.buffering-screen {
  height: 100%;
  background-color: #000000;
  color: #ffffff;
}
.screenCenter {
  /*background-color: #ff0011;*/
  
  text-align: center;
  width: 800px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.deviceId {
  font-size: 4em;
}