<div ng-controller="BufferingController" class="buffering-screen">
  <div class="screenCenter" style="text-align: center;">
    {{data.playData.playingStatus}}
    <br/>{{data.playData.speed}}
    <br/>{{data.playData.wires}}
  </div>
</div>