<div ng-controller="HomeController">

  <div class="screenCenter">
    <div class="deviceId">
      {{data.deviceInfo.id}}
    </div>

  </div>

  <div>
    Remotes: {{data.remotes}}
  </div>


  <div style="position: fixed; bottom: 10px;">
    <div style="background-color: green; width: 20px; float: left;">&nbsp;</div>&nbsp;&nbsp;Wireless
  </div>
</div>