<div ng-controller="WirelessPasswordController">
  Wireless Password Screen

  <div>{{data.selectedWireless.ssid}}</div>
  <div>Password: {{data.password}}</div>
  <div>Current Char: {{data.currentChar}}</div>
  <div>isUpper: {{data.isUpper}}</div>
</div>