<div ng-controller="WirelessListController">
  Wireless
  <hr/>
  <div class="wireless-list" ng-repeat="wireless in data.wirelessList">
    <div ng-class="{selected: wireless.ssid==data.selectedWireless.ssid}">{{wireless.ssid}}</div>
  </div>


</div>